<%= form_for(@dinner) do |f| %>
  <% if @dinner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dinner.errors.count, "error") %> prohibited this dinner from being saved:</h2>

      <ul>
      <% @dinner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time %><br />
    <%= f.text_field :time %>
  </div>
  <div class="field">
    <%= f.label :who %><br />
    <%= f.text_field :who %>
  </div>
  <div class="field">
    <%= f.label :number %><br />
    <%= f.number_field :number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
